name: Build and Release Telemt (aarch64-musl)

on:
  push:
    tags:
      - 'v3.0.1[3-9]'
      - 'v3.0.[2-9]*'
      - 'v3.[1-9]*'
      - 'v[4-9]*'
  
  workflow_dispatch:
    inputs:
      build_target:
        description: 'Введите тег (например, v3.0.13) или ветку (main)'
        required: true
        default: 'v3.0.13' # По умолчанию стоит нужный тег для удобства запуска

jobs:
  release:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      contents: write 

    steps:
      - name: Extract version
        id: vars
        run: |
          # Сначала определяем, какую версию собираем
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "VERSION=${{ github.event.inputs.build_target }}" >> $GITHUB_ENV
          elif [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          else
            echo "VERSION=nightly" >> $GITHUB_ENV
          fi

      - name: Checkout upstream repository
        uses: actions/checkout@v4
        with:
          # Явно скачиваем код из оригинального репозитория, где есть все теги
          repository: 'telemt/telemt'
          # Используем вычисленную выше переменную
          ref: ${{ env.VERSION }}

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-unknown-linux-musl

      - name: Install cross
        run: |
          curl -L https://github.com/cross-rs/cross/releases/latest/download/cross-x86_64-unknown-linux-musl.tar.gz | tar -xz
          sudo mv cross /usr/local/bin/

      - name: Build binary with cross
        run: |
          CARGO_PROFILE_RELEASE_STRIP=true cross build --release --target aarch64-unknown-linux-musl

      - name: Install UPX
        run: sudo apt-get update && sudo apt-get install -y upx-ucl

      - name: Compress with UPX
        run: |
          upx --best --lzma target/aarch64-unknown-linux-musl/release/telemt

      - name: Append version string
        run: |
          echo -n "${{ env.VERSION }}" >> target/aarch64-unknown-linux-musl/release/telemt
          mv target/aarch64-unknown-linux-musl/release/telemt telemt-aarch64-musl

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
        with:
          files: telemt-aarch64-musl
          name: Release ${{ env.VERSION }}
          tag_name: ${{ env.VERSION }}
          prerelease: ${{ env.VERSION == 'main' || env.VERSION == 'master' }}
          draft: false